body {
    background-image: url("https://images.pexels.com/photos/139366/pexels-photo-139366.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
}
.topper {  
    background-color: #323842;    
    color: white;
    text-align: center;
    
}

#search-form {
    background-color: rgba(68, 67, 67, 0.411);
    border-radius: 2%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color:  rgba(68, 67, 67, 0.411);
}
    
label {
    margin-top: .5rem;
}

.btn-outline-secondary {
    background-color: #6c757d;
}
    